.space {
	display: inline-flex;

	&-horizontal {
		flex-direction: row;
	}

	&-vertical {
		flex-direction: column;
	}

	&-align {
		&-center {
			align-items: center;
		}

		&-start {
			align-items: flex-start;
		}

		&-end {
			align-items: flex-end;
		}

		&-baseline {
			align-items: baseline;
		}
	}
}
